.forgot {
  color: var(--ion-card-color);
  text-decoration: none;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 8px;
}

.base-card {
  width: 100%;
  max-width: 40%;
}