<ion-app>
  <ion-header class="main-header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ 'SYSTEM_TITLE' }}</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/notifications">
          <ion-icon size="large" name="notifications-outline"></ion-icon>
          
        </ion-button>
        <ion-button routerLink="/profile">
          <ion-avatar>
            <ion-icon name="person-circle-outline" size="large"></ion-icon>
          </ion-avatar>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-split-pane when="md" contentId="main-content">
    <ion-menu contentId="main-content" menuId="main-menu" class="sidebar-menu" [swipeGesture]="false">
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/home" routerLinkActive="selected" detail="false">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>HOME</ion-label>
            </ion-item>

            <ion-item routerLink="/my-posts" routerLinkActive="selected" detail="false"> <!--todo belépett user postjai-->
              <ion-icon slot="start" name="folder-outline"></ion-icon>
              <ion-label>MY POSTS</ion-label>
            </ion-item>

            <ion-item routerLink="/notifications" routerLinkActive="selected" detail="false">
              <ion-icon slot="start" name="notifications-outline"></ion-icon>
              <ion-label>NOTIFICATIONS</ion-label>
            </ion-item>

            <ion-item routerLink="/profile" routerLinkActive="selected" detail="false">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>PROFILE</ion-label>
            </ion-item>

            <ion-item routerLink="/settings" routerLinkActive="selected" detail="false">
              <ion-icon slot="start" name="settings-outline"></ion-icon>
              <ion-label>SETTINGS</ion-label>
            </ion-item>

            <ion-item detail="false" button> <!--click-->
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>LOGOUT</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-content>
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-app>