.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // teljes viewport magasság
}

.base-card {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
ion-label{
  padding-bottom: 8px;
}