<ion-header>
  <ion-toolbar>
    <ion-title>Új poszt létrehozása</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <ion-item>
      <ion-label position="floating">Cím</ion-label>
      <ion-input type="text" [(ngModel)]="post.title" name="title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Szöveg</ion-label>
      <ion-textarea [(ngModel)]="post.text" name="text" required></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!postForm.form.valid">
      Létrehozás
    </ion-button>
  </form>
</ion-content>
