<ion-content class="ion-padding ion-text-center post-container">
  <ion-card class="base-card">
    <ion-card-header>
      <ion-card-title>Forum</ion-card-title>
      <ion-card-subtitle>Create Post</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="onSubmit()" #postForm="ngForm">
        <ion-list lines="none">
          <!-- Title -->
          <ion-item>
            <ion-label position="stacked">Title</ion-label>
            <ion-input type="text" [(ngModel)]="post.title" name="title" required fill="outline">
            </ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="!postForm.controls['title']?.valid && postForm.controls['title']?.touched">
            Title is required.
          </ion-note>

          <!-- Text -->
          <ion-item>
            <ion-label position="stacked">Text</ion-label>
            <ion-textarea [(ngModel)]="post.text" name="text" rows="6" required fill="outline" autoGrow="true">
            </ion-textarea>
          </ion-item>
          <ion-note color="danger" *ngIf="!postForm.controls['text']?.valid && postForm.controls['text']?.touched">
            Text is required.
          </ion-note>

          <!-- Submit -->
          <ion-item lines="none">
            <ion-button expand="block" type="submit" [disabled]="!postForm.form.valid">
              Create Post
            </ion-button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>