@if(post && comments){
<ion-content fullscreen>
  <div style="position: relative;">
    <ion-card class="post">
      <ion-button *ngIf="loggedInUser.role === 'admin'" color="danger" shape="round" class="post-delete-btn"
        (click)="deletePost(post._id!)">
        Delete
      </ion-button>

      <ion-item lines="none" class="post-header" detail="false">
        <ion-avatar slot="start">
          <img [src]="'https://www.gravatar.com/avatar?d=mp'" />
        </ion-avatar>
        <ion-label>
          <a [routerLink]="['/profiles', post.creator_id]" class="comment-author">
            <h3>{{ post.creator_nickname }}</h3>
          </a>
        </ion-label>
      </ion-item>

      <ion-card-title>{{ post.title }}</ion-card-title>
      <ion-card-subtitle>{{ post.text }}</ion-card-subtitle>
    </ion-card>
  </div>


  <div class="comment-section" *ngIf="isAuthenticated">
    <form (ngSubmit)="submitComment()" class="comment-form">
      <ion-item lines="none" class="input-with-button">
        <ion-textarea [(ngModel)]="newCommentText" name="comment" placeholder="Add a new comment" autoGrow="true"
          rows="1" maxlength="500"></ion-textarea>
        <ion-button slot="end" type="submit" color="primary" shape="round" size="small">
          Comment
        </ion-button>
      </ion-item>
    </form>
  </div>

  <div *ngFor="let comment of comments" class="comment-container">
    <ion-item lines="none" class="comment-item">
      <ion-avatar slot="start">
        <img [src]="'https://www.gravatar.com/avatar?d=mp'" />
      </ion-avatar>
      <div class="comment-texts">
        <a [routerLink]="['/profiles', comment.creator_id]" class="comment-author">
          {{ comment.creator_nickname }}
        </a>
        <p class="comment-text">{{ comment.text }}</p>
      </div>

      <ion-button *ngIf="loggedInUser.role === 'admin'" color="danger" shape="round" size="small"
        class="comment-delete-btn" (click)="deleteComment(comment._id!)">
        Delete
      </ion-button>
    </ion-item>
  </div>
</ion-content>
}